footer.footer
    .ed-container.footer-content
        .ed-item.xm-1-3
            p asdfasdfasdfasdfasdf
        .ed-item.xm-1-3
            p sadfasdfasdf
        .ed-item.xm-1-3
            p sdfasdfasdf
    .footer-copyright
        .ed-container
            .ed-item.xm-50
                p Copy &copy; All Rights Reserver
            .ed-item.xm-50
                p Design by Sergio Sandoval