footer.footer
    .ed-container.footer-content
        .ed-item.xm-1-3.main-center
            p.footer_menu_title Carreras
            ul.footer_menu
                li.footer_menu_item: a(href="") Computacion e informatica
                li.footer_menu_item: a(href="") Electronica
                li.footer_menu_item: a(href="") Administracion
                li.footer_menu_item: a(href="") Contabilidad
                li.footer_menu_item: a(href="") Mecanica
        .ed-item.xm-1-3.main-center
            p.footer_menu_title Instituciones Amigas
                ul.footer_menu
                    li.footer_menu_item: a(href="") Link 1
                    li.footer_menu_item: a(href="") Link 2
                    li.footer_menu_item: a(href="") Link 3
                    li.footer_menu_item: a(href="") Link 4
                    li.footer_menu_item: a(href="") Link 5
        .ed-item.xm-1-3.main-center

    .footer-copyright
        .ed-container
            .ed-item.xm-50
                p Copy &copy; All Rights Reserver
            .ed-item.xm-50
                p Design by Sergio Sandoval