//
   Created by Sergio Sandoval on 11/12/2016.
.informacion
    .ed-container
        .ed-item.l-25
            span.fa.fa-map-marker
            |  Av El Parral, Distrito de Lima 15311, Perú
        .ed-item.l-50
            span.fa.fa-mobile-phone
            | 555-5555 &nbsp;
            span.fa.fa-envelope
                |  contacto@istpccf.com
        .ed-item.l-25.sociales
            a.link_social(href=""): span.fa.fa-facebook
            a.link_social(href=""): span.fa.fa-twitter
            a.link_social(href=""): span.fa.fa-instagram
            a.link_social(href=""): span.fa.fa-youtube